<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.w0lf.colorfulSidebar9</key>
	<dict>
		<key>apps</key>
		<string>Finder</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Sep 02, 2017</string>
		<key>description</key>
		<string>Colorful Finder sidebar</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/colorfulSidebar9_1.5.0.zip</string>
		<key>name</key>
		<string>colorfulSidebar9</string>
		<key>package</key>
		<string>org.w0lf.colorfulSidebar9</string>
		<key>size</key>
		<string>26784</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.security.pboxd</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.appkit.xpc.openAndSavePanelService</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.5.0</string>
		<key>homepage</key>
		<string></string>
		<key>webpage</key>
		<string></string>
		<key>payed</key>
		<true/>
		<key>price</key>
		<string>$0.99</string>
		<key>productID</key>
		<string>534450</string>
	</dict>
	<key>org.w0lf.whosTyping</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.10+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Feb 03, 2018</string>
		<key>description</key>
		<string>Adds iMessage typing and read receipt indicators for the status bar</string>
		<key>descriptionShort</key>
		<string>Adds iMessage typing and read receipt indicators for the status bar</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/whosTyping_0.0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>whosTyping</string>
		<key>package</key>
		<string>org.w0lf.whosTyping</string>
		<key>price</key>
		<string>$0.99</string>
		<key>size</key>
		<string>181557</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.cleanHUD</key>
	<dict>
		<key>apps</key>
		<string>loginwindow</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jan 07, 2018</string>
		<key>description</key>
		<string>Minimal volume, screen and keyboard brightness HUDs </string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cleanHUD_0.5.3.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cleanHUD</string>
		<key>package</key>
		<string>org.w0lf.cleanHUD</string>
		<key>price</key>
		<string>$1.99</string>
		<key>size</key>
		<string>50851</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.loginwindow</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.5.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.moreMenu</key>
	<dict>
		<key>apps</key>
		<string>All</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jul 12, 2018</string>
		<key>description</key>
		<string>Shrink the menubar of the running application</string>
		<key>descriptionShort</key>
		<string>Shrink the menubar of the running application</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/moreMenu_0.3.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>payed</key>
		<true/>
		<key>name</key>
		<string>moreMenu</string>
		<key>package</key>
		<string>org.w0lf.moreMenu</string>
		<key>price</key>
		<string>$1.99</string>
		<key>productID</key>
		<string>534450</string>
		<key>size</key>
		<string>21196</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.3.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
</dict>
</plist>
