<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Send Chrome notification to the notification center</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/RadonChrome_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>RadonChrome</string>
		<key>package</key>
		<string>com.prestonmueller.RadonChrome</string>
		<key>size</key>
		<string>18454</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Adds useful window management commands to most Mac apps</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Afloat_2.3.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>Afloat</string>
		<key>package</key>
		<string>net.infinite-labs.Afloat</string>
		<key>size</key>
		<string>511399</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Improve the dictionary app</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BetterDictionary_0.992.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>BetterDictionary</string>
		<key>package</key>
		<string>com.pooriaazimi.betterdictionary</string>
		<key>size</key>
		<string>326967</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Dictionary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.992</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Force the Dock to display in Dark Mode</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/DarkDock_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>DarkDock</string>
		<key>package</key>
		<string>ca.adambell.DarkDock</string>
		<key>size</key>
		<string>19941</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock.extra</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Hide the menubar on OSX 10.10 and below</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/MenuBarHider_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>MenuBarHider</string>
		<key>package</key>
		<string>com.yourcompany.MenuBarHider</string>
		<key>size</key>
		<string>10978</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>No sidebar in preview</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/PreviewNoSidebar_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>PreviewNoSidebar</string>
		<key>package</key>
		<string>com.elanini.PreviewNoSidebar</string>
		<key>size</key>
		<string>11061</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Improvements to Safari</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/SafariStand_9.0.217Yosemite.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>SafariStand</string>
		<key>package</key>
		<string>com.hetima.SafariStand</string>
		<key>size</key>
		<string>346315</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>9.0.217Yosemite</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Copy text on selection in Terminal</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TerminalCopyOnSelect_0.1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TerminalCopyOnSelect</string>
		<key>package</key>
		<string>com.s21g.TerminalCopyOnSelect</string>
		<key>size</key>
		<string>11405</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Disply a notification when others are typing in Messages</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TypeStatus_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TypeStatus</string>
		<key>package</key>
		<string>ws.hbang.typestatus.mac</string>
		<key>size</key>
		<string>16275</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Safari 5 tabs on Safari 6+</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cosyTabs_1.4.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cosyTabs</string>
		<key>package</key>
		<string>me.inket.cosyTabs</string>
		<key>size</key>
		<string>16650</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/CustomNC_1.5.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>CustomNC</string>
		<key>package</key>
		<string>me.inket.CustomNC</string>
		<key>size</key>
		<string>21336</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.5</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/ScrollbarsOnTheLeft_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>ScrollbarsOnTheLeft</string>
		<key>package</key>
		<string>com.BenTrask.ScrollbarsOnTheLeft</string>
		<key>size</key>
		<string>9786</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Spaytify_1.0.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>Spaytify</string>
		<key>package</key>
		<string>io.callcc.Spaytify</string>
		<key>size</key>
		<string>4799</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Terminal</string>
		<key>author</key>
		<string></string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Adds xterm mouse reporting to Terminal</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/MouseTerm_plus-1.0a10.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>MouseTerm</string>
		<key>package</key>
		<string>org.bitheap.MouseTerm</string>
		<key>size</key>
		<string>76236</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>plus-1.0a10</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Terminal</string>
		<key>author</key>
		<string></string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Remove the titlebar / toolbar from Terminal</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/noTitleBar-Terminal_0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>noTitleBar-Terminal</string>
		<key>package</key>
		<string>me.choco.noTitleBarTerminal</string>
		<key>size</key>
		<string>9645</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>12-09-16 23:08PM</string>
		<key>description</key>
		<string>Make themed windows in chrome behave the same way as unthemed windows when in the background.</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/ChromeDimBackground_0.1.1.zip</string>
		<key>homepage</key>
		<string>https://github.com/krackers/ChromeDimBackground</string>
		<key>name</key>
		<string>ChromeDimBackground</string>
		<key>package</key>
		<string>org.michaelphines.ChromeDimBackground</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>17929</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
</array>
</plist>
