<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/RadonChrome_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>RadonChrome</string>
		<key>package</key>
		<string>com.prestonmueller.RadonChrome</string>
		<key>size</key>
		<string>18454</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Afloat_2.3.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>Afloat</string>
		<key>package</key>
		<string>net.infinite-labs.Afloat</string>
		<key>size</key>
		<string>511399</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BetterDictionary_0.992.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>BetterDictionary</string>
		<key>package</key>
		<string>com.pooriaazimi.betterdictionary</string>
		<key>size</key>
		<string>326967</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Dictionary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.992</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/binventory_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>binventory</string>
		<key>package</key>
		<string>com.alexzielenski.binventory</string>
		<key>size</key>
		<string>21552</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/CustomNC_1.4.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>CustomNC</string>
		<key>package</key>
		<string>me.inket.CustomNC</string>
		<key>size</key>
		<string>401437</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/DarkDock_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>DarkDock</string>
		<key>package</key>
		<string>ca.adambell.DarkDock</string>
		<key>size</key>
		<string>19941</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock.extra</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/MenuBarHider_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>MenuBarHider</string>
		<key>package</key>
		<string>com.yourcompany.MenuBarHider</string>
		<key>size</key>
		<string>10978</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NoFavicons_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NoFavicons</string>
		<key>package</key>
		<string>org.michaelphines.NoFavicons</string>
		<key>size</key>
		<string>8929</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/PreviewNoSidebar_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>PreviewNoSidebar</string>
		<key>package</key>
		<string>com.elanini.PreviewNoSidebar</string>
		<key>size</key>
		<string>11061</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/SafariStand_9.0.217Yosemite.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>SafariStand</string>
		<key>package</key>
		<string>com.hetima.SafariStand</string>
		<key>size</key>
		<string>346315</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>9.0.217Yosemite</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TerminalCopyOnSelect_.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TerminalCopyOnSelect</string>
		<key>package</key>
		<string>com.s21g.TerminalCopyOnSelect</string>
		<key>size</key>
		<string>11405</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string></string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TypeStatus_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TypeStatus</string>
		<key>package</key>
		<string>ws.hbang.typestatus.mac</string>
		<key>size</key>
		<string>16275</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cosyTabs_1.4.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cosyTabs</string>
		<key>package</key>
		<string>me.inket.cosyTabs</string>
		<key>size</key>
		<string>16650</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
</array>
</plist>
