<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.sky.imessageParity</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>May 29, 2018</string>
		<key>description</key>
		<string>Allows you to send messages with the same effects as on iOS in the Messages app</string>
		<key>descriptionShort</key>
		<string>Allows you to send messages with the same effects as on iOS in the Messages app</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/iMessageParity_0.1.3.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>iMessageParity</string>
		<key>package</key>
		<string>com.sky.imessageParity</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>67952</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>net.infinite-labs.Afloat</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jan 18, 2017</string>
		<key>description</key>
		<string>Adds useful window management commands to applications</string>
		<key>descriptionShort</key>
		<string>Adds useful window management commands to applications</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/Afloat_2.5.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>Afloat</string>
		<key>package</key>
		<string>net.infinite-labs.Afloat</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>474036</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.5.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.BlurFocus</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Dec 20, 2016</string>
		<key>description</key>
		<string>Blur windows when they're not in focus</string>
		<key>descriptionShort</key>
		<string>Blur windows when they're not in focus</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BlurFocus_1.0.18.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>BlurFocus</string>
		<key>package</key>
		<string>org.w0lf.BlurFocus</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>17382</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0.18</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.FScriptLoader</key>
	<dict>
		<key>apps</key>
		<string>All</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.13+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Feb 04, 2018</string>
		<key>description</key>
		<string>Loads F-Script</string>
		<key>descriptionShort</key>
		<string>Loads F-Script</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/FScriptLoader_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>FScriptLoader</string>
		<key>package</key>
		<string>org.w0lf.FScriptLoader</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>1234760</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.GrayFocus</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Nov 12, 2016</string>
		<key>description</key>
		<string>Gray focus for background windows</string>
		<key>descriptionShort</key>
		<string>Gray focus for background windows</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/GrayFocus_2.2.1.zip</string>
		<key>github</key>
		<string>https://github.com/w0lfschild/GrayFocus</string>
		<key>name</key>
		<string>GrayFocus</string>
		<key>package</key>
		<string>org.w0lf.GrayFocus</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>16087</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.2.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.NoFavicons</key>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Feb 04, 2018</string>
		<key>description</key>
		<string>Removes favicons in Google Chrome</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NoFavicons_1.8.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NoFavicons</string>
		<key>package</key>
		<string>org.w0lf.NoFavicons</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>22464</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.8.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.NotificationClear</key>
	<dict>
		<key>apps</key>
		<string>Notification Center</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Sep 06, 2017</string>
		<key>description</key>
		<string>Adds "Clear All" button to notification center</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NotificationClear_0.2.4.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NotificationClear</string>
		<key>package</key>
		<string>org.w0lf.NotificationClear</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>22309</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.2.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.binventory</key>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Nov 12, 2016</string>
		<key>description</key>
		<string>Badge with item count for trash in Dock</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/binventory_2.6.7.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>binventory</string>
		<key>package</key>
		<string>org.w0lf.binventory</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>33635</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.6.7</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.cDock</key>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>May 29, 2018</string>
		<key>description</key>
		<string>Customize your dock appearance</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cDock_3.0.4.zip</string>
		<key>homepage</key>
		<string>http://w0lfschild.github.io/app_cDock.html</string>
		<key>name</key>
		<string>cDock</string>
		<key>package</key>
		<string>org.w0lf.cDock</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>916271</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>3.0.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.cleanHUD</key>
	<dict>
		<key>apps</key>
		<string>loginwindow</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jan 07, 2018</string>
		<key>description</key>
		<string>Minimal volume, screen and keyboard brightness HUDs </string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cleanHUD_0.5.3.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cleanHUD</string>
		<key>package</key>
		<string>org.w0lf.cleanHUD</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>50851</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.loginwindow</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.5.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.colorfulSidebar9</key>
	<dict>
		<key>apps</key>
		<string>Finder</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Sep 02, 2017</string>
		<key>description</key>
		<string>Colorful Finder sidebar</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/colorfulSidebar9_1.5.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>colorfulSidebar9</string>
		<key>package</key>
		<string>org.w0lf.colorfulSidebar9</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>26784</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.security.pboxd</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.appkit.xpc.openAndSavePanelService</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.5.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.darkNC</key>
	<dict>
		<key>apps</key>
		<string>Notification Center</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Sep 06, 2017</string>
		<key>description</key>
		<string>Brings dark mode back to Notification Center on macOS 10.12+</string>
		<key>descriptionShort</key>
		<string>Brings dark mode back to Notification Center on macOS 10.12+</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/darkNC_1.1.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>darkNC</string>
		<key>package</key>
		<string>org.w0lf.darkNC</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>12054</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.1.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.drdark</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 01, 2017</string>
		<key>description</key>
		<string>Dark Mode for macOS</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/DoctorDark_0.2.178.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>DoctorDark</string>
		<key>package</key>
		<string>org.w0lf.drdark</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>27620</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.2.178</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.fullscreenER</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jul 21, 2017</string>
		<key>description</key>
		<string>Better fullscreen button and all windows able to go fullscreen</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/fullscreenER_1.2.4.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>fullscreenER</string>
		<key>package</key>
		<string>org.w0lf.fullscreenER</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>24752</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.2.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.iTunesPlus</key>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>May 05, 2018</string>
		<key>description</key>
		<string>iTunes is a plugin that adds some features to the iTunes desktop player
- Change the dock icon to the now playing track art (three options)
	- Square
	- Tilted square
	- Circular
- Settings in Dock menu and the menubar</string>
		<key>descriptionShort</key>
		<string>Add useful features to the iTunes desktop player</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/iTunesPlus_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>iTunesPlus</string>
		<key>package</key>
		<string>org.w0lf.iTunesPlus</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>809471</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iTunes</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.safariSoda</key>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Nov 12, 2016</string>
		<key>description</key>
		<string>Adds a reload all tabs option</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/safariSoda_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>safariSoda</string>
		<key>package</key>
		<string>org.w0lf.safariSoda</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>10976</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.spotiHack</key>
	<dict>
		<key>apps</key>
		<string>Spotify</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>Spotify 1.0.28+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Nov 12, 2016</string>
		<key>description</key>
		<string>spotifyPlus is a SIMBL plugin that adds some features to the Spotify desktop player
- Automatically mute audio ads
- Block all ads (requires password to enable)
- Change the dock icon to the now playing track art (three options)
	- Square
	- Tilted square
	- Circular
	- Add badge to app icon when muted or paused
- Restart Spotify
- Settings in Dock menu and the menubar</string>
		<key>descriptionShort</key>
		<string>Add useful features to the Spotify desktop player</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/spotifyPlus_0.6.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>spotifyPlus</string>
		<key>package</key>
		<string>org.w0lf.spotiHack</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>58635</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.6.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.whosTyping</key>
	<dict>
		<key>apps</key>
		<string>Messages</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.10+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Feb 03, 2018</string>
		<key>description</key>
		<string>Adds iMessage typing and read receipt indicators for the status bar</string>
		<key>descriptionShort</key>
		<string>Adds iMessage typing and read receipt indicators for the status bar</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/whosTyping_0.0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>whosTyping</string>
		<key>package</key>
		<string>org.w0lf.whosTyping</string>
		<key>price</key>
		<string>$0.00</string>
		<key>size</key>
		<string>181557</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.winBuddy</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Apr 01, 2017</string>
		<key>description</key>
		<string>winBuddy is a SIMBL plugin that removes the shadow around windows in every application window on macOS it also allows for hiding the menubar and dock and placing a border around windows.</string>
		<key>descriptionShort</key>
		<string>Removes window shadow, black border and more</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/winBuddy_0.3.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>winBuddy</string>
		<key>package</key>
		<string>org.w0lf.winBuddy</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>23768</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.3.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.zestyWin</key>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Nov 12, 2016</string>
		<key>description</key>
		<string>Add vibrancy to most application windows</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/zestyWin_0.1.41.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>zestyWin</string>
		<key>package</key>
		<string>org.w0lf.zestyWin</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>21895</string>
		<key>target</key>
		<string>null</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.41</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<key>org.w0lf.zinger</key>
	<dict>
		<key>apps</key>
		<string>All</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>compat</key>
		<string>macOS 10.9+</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>date</key>
		<string>Jul 11, 2018</string>
		<key>description</key>
		<string>Shrink the menubar of the running application</string>
		<key>descriptionShort</key>
		<string>Shrink the menubar of the running application</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/moreMenu_0.3.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>moreMenu</string>
		<key>package</key>
		<string>org.w0lf.zinger</string>
		<key>price</key>
		<string>Free</string>
		<key>size</key>
		<string>20919</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.3.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
</dict>
</plist>
