<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>All application windows are resizable plus improved resizing</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/captainFullscreen_0.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>_fullscreenER</string>
		<key>package</key>
		<string>org.w0lf._fullscreenER</string>
		<key>size</key>
		<string>20259</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Customize your dock appearance</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cDock_0.11.4.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cDock</string>
		<key>package</key>
		<string>org.w0lf.cDock</string>
		<key>size</key>
		<string>50100</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.11.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Make windows grayscale when they&apos;re not in focus</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/GrayFocus_2.0.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>GrayFocus</string>
		<key>package</key>
		<string>com.yourcompany.GrayFocus</string>
		<key>size</key>
		<string>16148</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.0.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Add a &quot;Clear All&quot; button to Notification Center</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NotificationClear_0.1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NotificationClear</string>
		<key>package</key>
		<string>com.chuckhendo.NotificationClear</string>
		<key>size</key>
		<string>403153</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.notificationcenterui</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Adds a reload all tabs option</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/safariSoda_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>safariSoda</string>
		<key>package</key>
		<string>org.w0lf.safariSoda</string>
		<key>size</key>
		<string>10976</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Enhance the spotify Desktop player</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/spotifyPlus_0.5.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>spotifyPlus</string>
		<key>package</key>
		<string>org.w0lf.spotiHack</string>
		<key>size</key>
		<string>275493</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.5.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Add vibrancy to most application windows</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/zestyWin_0.1.41.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>zestyWin</string>
		<key>package</key>
		<string>org.w0lf.zestyWin</string>
		<key>size</key>
		<string>21895</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.41</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Blur windows when they&apos;re not in focus</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BlurFocus_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>BlurFocus</string>
		<key>package</key>
		<string>org.w0lf.BlurFocus</string>
		<key>size</key>
		<string>6351</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>SIMBL plugin to add item count badge to trash icon in dock</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/binventory_2.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>binventory</string>
		<key>package</key>
		<string>com.alexzielenski.binventory</string>
		<key>size</key>
		<string>21730</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
</array>
</plist>
